
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Font
$font-stack: 'Roboto', sans-serif;

// Colors
$white: #ffffff;
$black: #000000;

// Default Styles
* {
    font-family: $font-stack;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.2s ease-in;
  }
  
  body {
    width: 100%;
  }
  
// BreakPoints
$notebook-break-point: 1240px;
$max-width : 1680px;